@using SfPricingDev.Helpers;
@using Syncfusion
@using Syncfusion.Blazor.Popups;
@using SfPricingDev.Models

<style>
    .benefits-container {
        width: 260px;
        font-family: Arial, sans-serif;
    }

    .benefit, .benefit * {
        font-size: 22px;
        text-align: left;
    }
</style>

<div class="benefits-container">
    @foreach (var benefit in benefits!)
    {
        <div class="benefit">
            <SfTooltip Content="@benefit.Tooltip">
                @benefit.GetFragment()
            </SfTooltip>
        </div>
    }
</div>

@code {
    List<Benefit>? benefits;

    protected override void OnInitialized()
    {
        benefits = Plan.ToBenefits(Quantity, PrePayAndSave == true);
    }

    [Parameter]
    public Plan Plan { get; set; } = Plan.Free;

    [Parameter]
    public int Quantity { get; set; } = 1;

    [Parameter]
    public bool PrePayAndSave { get; set; } = false;
}
