@using SfPricingDev.Models

<link rel="stylesheet" href="SfPricing.css" />

<div class="plan-container">
    <SfPricingWidget Plan="Plan.Free" />
    <SfPricingWidget Plan="Plan.Flex" />
    <SfPricingWidget Plan="Plan.Lite" />
</div>