@page "/"
@rendermode InteractiveServer
@using SfPricingDev.Models

<PageTitle>Index</PageTitle>

<style>
    .outer-div {
        margin-top: 100px;
        width: 100%;
        text-align: center;
    }
</style>

<div class="outer-div">
    <div class="pricing-widgets">
        <PricingWidget Plan="Plan.Free" />
        <PricingWidget Plan="Plan.Flex" />
        <PricingWidget Plan="Plan.Lite" />
    </div>
</div>