@page "/"
@rendermode InteractiveServer
@using SfPricingDev.Models

<PageTitle>Index</PageTitle>



<div class="pricing-widgets">
    <PricingWidget Plan="Plan.Free" />
    <PricingWidget Plan="Plan.Flex" />
    <PricingWidget Plan="Plan.Lite" />
</div>