@page "/"
@rendermode InteractiveServer
@using SfPricingDev.Models

<PageTitle>Index</PageTitle>

<style>
    .spacer{
        margin-top: 50px;
    }
</style>

<div class="pricing-widgets spacer">
    <PricingWidget Plan="Plan.Free" />
    <PricingWidget Plan="Plan.Flex" />
    <PricingWidget Plan="Plan.Lite" />
</div>