@using Round3.Models

<link rel="stylesheet" href="PricingPanel.css" />

<div class="plan-container">
    <PricingWidget Plan="Plan.Free" />
    <PricingWidget Plan="Plan.Flex" />
    <PricingWidget Plan="Plan.Lite" />
</div>