@using DevTest.Helpers;
@using Syncfusion
@using Syncfusion.Blazor.Buttons
@using Syncfusion.Blazor.Popups;
@using DevTest.Models

<style>
    .outer-div {
        width: 320px;
        font-family: Arial, sans-serif; /* This sets the font for the entire .outer-div */
        border: 5px solid gray;
        border-radius: 10px; /* Adjust the radius as needed */
        padding: 0 20px; /* Removes padding inside the div */
    }

        .outer-div ul {
            margin: 0; /* Removes margin from the ul */
            padding: 0; /* Removes padding from the ul */
            list-style: none; /* Optional: removes bullet points */
        }

            .outer-div ul li {
                font-size: 20px;
            }
</style>

<div class="outer-div">
    <ul>
        @foreach (var benefit in benefits!)
        {
            <li>

                <SfTooltip Content="@benefit.Tooltip">
                    @benefit.GetFragment()
                </SfTooltip>
            </li>
        }
    </ul>
</div>

@code {
    bool? prePayAndSave = false;
    int quantity = 1;
    List<Benefit>? benefits;

    protected override void OnInitialized()
    {
        benefits = Plan.ToBenefits(quantity, prePayAndSave == true);
    }

    [Parameter]
    public Plan Plan { get; set; } = Plan.Free;
}